.ChartTitle{
    width: 468px;
    height:70px;
    background-color:#F3F3F5 ;
    font-weight: 800;
font-size: 20px;
line-height: 70px;
text-align: center;



}
.Chart_wrapper{
    width:468px;
    height:390px;
    border:1px solid black;
}