/* .ChartTitle {
  width: 468px;
  height: 70px;
  background-color: #f3f3f5;
  font-weight: 800;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
}
.Chart_wrapper {
  width: 468px;
  height: 390px;
  border: 1px solid black;
  margin-bottom: 20px;
} */
